env_vars.bat
credentials.md
lib
**/*.jar
**/*.csv
**/*log.txt
**/*.dump
**/__pycache__
postgresql-backup/*/
synchrony/stamps.bat
synchrony/data
cradlepoint-backup/data
*.html
webctrl-monitor/state.txt
webctrl-monitor/sites.txt
webctrl-monitor/ntfy.txt
rclone-monitor/state.txt
rclone-monitor/sites.txt
zendesk-validate/target
*_dsc_*.*
queries
email.pfx
rclone.conf